@model Codecool.CodecoolShop.Models.RegistrationModel

@using (Html.BeginForm("Register", "Product", FormMethod.Post))
{
    <div class="container">
        <div>
            <div>
                <h3>User Registration</h3>
                <i class="fa fa-user"></i> Full Name<br />
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })<br />
                <i class="fa fa-envelope"></i> Email<br />
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })<br />
                <i class="fa fa-key" aria-hidden="true"></i> Password <br />
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })<br />
                <input type="submit" value="Register"/>
                <div class="container signin">
                    <p>Already have an account? <a asp-area="" asp-controller="Product" asp-action="Signin">Sign in</a>.</p>
                </div>
            </div>
        </div>
    </div>
}
