@{
    ViewData["Title"] = "Home Page";
}

@model Codecool.CodecoolShop.Models.IndexModel


<div class="dropdown-cat">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Category
    </a>
    

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @foreach (var category in Model.ProductCategories)
        {
            <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="ProductsByCategory" asp-route-id="@category.Id">@category.Name</a>
        }
        </div>
    
</div>
<div class="dropdown-sup">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Supplier
    </a>
    

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        @foreach (var supplier in Model.ProductSuppliers)
        {
        <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="ProductsBySupplier" asp-route-id="@supplier.Id">@supplier.Name</a>
        }
        </div>

     
</div>

<div class="container">
    @foreach (var element in Model.Products)
    {
        <div class="col-lg-3 col-lg-3" style="display: inline-block; max-width: 350px; height: 350px">
            <div class="card">
                <img src="~/img/@(element.Name).jpg" style="height: 50%; width: 50%; align-self: center; padding-top: 10px">

                <div class="card-body">
                    <h5 class="card-title text-center">
                        Product
                        @{ var num = Model.Products.IndexOf(element) + 1;}
                        @num
                    </h5>
                    <h5 id="name" class="card-title">@element.Name</h5>
                    <p id="description" class="card-text">@element.Description.</p>
                    <p id="category" class="card-text">Category: @element.ProductCategory.Department</p>
                    <p id="supplier" class="card-text">Supplier: @element.Supplier.Name</p>
                    <p id="price" class="card-text text-center"><strong>Price: @element.DefaultPrice.ToString("C2")</strong></p>
                    <a type="button" id="add-to-cart" data-id="@element.Id" class="btn btn-primary" style="float: bottom">Add To Cart</a> @*asp-area="" asp-controller="Product" asp-action="AddToCart" asp-route-id="@element.Id"*@
                </div>
            </div>
        </div>
    }


</div>
